.row-header{
    margin:0px auto;
    padding:0px auto;
}
.row-content{
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color:gray;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    
}
.jumbotron{
    padding: 70px 20px 70px 20px;
    margin: 0px auto;
    
    
}
.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    height: auto;
}
.navbar-dark{
    background-color: #512DA8;
}



.carousel{
    background: rgb(24, 24, 24);
	

}
.carousel-item{
    height: 300px;
	
}
.carousel-item img{
    position: absolute;
    top:0;
    left: 0;
    height: 300px;

}

#carouselButton{
    right: 0px;
    position: absolute;
    bottom: 0px;
}

.modal-confirm {		
	
	width: 400px;
    border: lightgray;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}

.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
	
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}		


.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background:darkgray;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background:cyan;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
.modal-confirm .modal-content{
 
    border-color: lightgray;
}
.link{
	color: blue;
}
.link:hover{
	text-decoration: underline;
}
.prod-size{
	width:100px;
	height: 100px;
}